 .nav{
  background-color: #FFCCCC;
}

.container {
  margin-top: 30px;
}

.header {
  text-align: center;
  font-weight: bold;
  background-color: #339999;
}

.btn-delete {
  text-align: center;
  display: block;
}

.btn-done {
  text-align: center;
  display: block;
}

.button-holder {
  text-align: center;
}

.aside h3 {
  text-align: center;
}